.creation-card::part(body) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.active-indicator {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: var(--sl-color-success);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
